<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
  <script src="https://kit.fontawesome.com/9ef181417b.js" crossorigin="anonymous"></script>
  <title>Handling User Authentication</title>
</head>
<body>
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="jumbotron">
          <h1 class="display-4">Hello {{request.user}}</h1>
          <p class="lead">This is a simple authentication process guide for registering users and login users to the site. The logged in user remains logged in can't and view the login and register pages. Unauthenticated users must register to access the site</p>
          <hr class="my-4">
          <p>The is achieved by customizing or overriding the default register and login django processes</p>
          <div class="text-center">
            <a class="btn btn-primary btn-lg" href="https://github.com/kkthecompguy/authenticate-users" role="button">Learn more</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>
</html>