<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
  <script src="https://kit.fontawesome.com/9ef181417b.js" crossorigin="anonymous"></script>
  <title>Handling User Authentication</title>
</head>
<body>
  <div class="container">
    <div class="row mt-5">
      <div class="col-md-6 mx-auto mt-5">
        <div class="card">
          <div class="card-body">
            <h3 class="text-center mb-4">Register Account</h3>
            {% if form.errors %}
              <div class="alert alert-danger">
                {{form.errors}}
              </div>
              {% endif %}
            <form action="." method="POST">
              {% csrf_token %}
              <div class="form-group">
                <div class="input-group">
                  <span class="input-group-text"><i class="fas fa-user-tie"></i></span>
                  {{form.username}}
                </div>
              </div>
              <div class="form-group">
                <div class="input-group">
                  <span class="input-group-text"><i class="fas fa-at"></i></span>
                  {{form.email}}
                </div>
              </div>
              <div class="form-group">
                <div class="input-group">
                  <span class="input-group-text"><i class="fas fa-key"></i></span>
                  {{form.password1}}
                </div>
              </div>
              <div class="form-group">
                <div class="input-group">
                  <span class="input-group-text"><i class="fas fa-key"></i></span>
                  {{form.password2}}
                </div>
              </div>
              <div class="form-group text-center">
                <input type="submit" value="Create Account" class="btn btn-info btn-sm mt-2">
                 <p>Already have an account? <a href="{% url 'users:login' %}">Login</a></p>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>
</html>